.nav{
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 5;
}
.nav-head{
    font-size: 35px;
    font-weight:900;
}
.nav-items-wrapper{
    display: flex;
    gap: 40px;
    margin-left: 50%;
    font-weight:600;
}
.nav-links{
    display: inline-block;
    cursor: pointer;
}
.nav-links::after{
    content: '';
    display: block;
    width: 0;
    height: 5px;
    border-radius: 10px;
    background:black ;
    transition: width 0.3s;
}
.nav-links:hover::after{
    width: 100%;
    background: gold;
    transition: width 0.3s;
}